{% extends "base.html" %}

{% block title %}Главная{% endblock %}
{% block description %}Главная{% endblock %}
{% block content %}
<h1>Статистика</h1>
<ul>
    <li>Всего пользователей: {{ users_count }}</li>
    <li>Всего достижений: {{ achievements_count }}</li>
    <li>Самое популярное достижение:</li>
    <li>Самое непопулярное достижение:</li>
    <li>пользователь с максимальным количеством достижений:</li>
    <li>пользователь с максимальным количеством очков достижений:</li>
    <li>пользователи с максимальной разностью очков достижений:</li>
    <li>пользователи с минимальной разностью очков достижений</li>
    <li>пользователи, у которых достижения выдавались 7 дней подряд (есть достижения с датами выдачи соответсвующими)</li>
</ul>
{% endblock %}
