{% extends "base.html" %}

{% block title %}Информация о пользователе{% endblock %}

{% block description %}Информация о пользователе{% endblock %}

{% block content %}

<div class="container">
    <h3>{{ user }}</h3>

    <table class="table">

        <tr>
            <th>ID</td>
            <th>Достижение</td>
            <th>Дата награждения</td>
        </tr>

        {% for achievement in achievements %}
            <tr>
                <td>{{ achievement.id }}</td>
                <td>{{ achievement.achievement }}</td>
                <td>{{ achievement.d_create }}</td>
            </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
